{% extends "tester/base.html" %}
{% load bootstrap4 %}
{% load static %}


{% block content_header %}
<h1>TICA - Transcriptional Interaction and Coregulation Analyser</h1>
<p>Welcome to TICA. This is a prototype version meants for validation of results and user experience.</p>
<p>Please, select the cell line of context and the type of analysis you wish to execute.</p>
{% endblock %}


{% block content_body %}
<form action="{% url 'tester:param_input' %}" method="get">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}

</form>
{% endblock %}