<!doctype html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title >TICA v2 PROTOTYPE TESTER - PARAMETERS</title>
    <!-- <link rel="stylesheet" type="text/css" href="css/Marathon1-team_css.css"> -->
</head>
<body>
    <h1>TICA v2 PROTOTYPE TESTER - PARAMETERS</h1>
    <p>This is a mock main page for testing using TICA_v2.</p>
    <form action="{% url 'tester:test_results' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Test" />
</form>
    <hr>
    <a href="{% url 'home:index' %}">Go back to home</a>
</body>
