{% extends "tester/base.html" %}
{% load bootstrap4 %}


{% block content_header %}
<h1>TICA - Parameter Input</h1>
<p>Please, input the parameters you wish to use in your analysis.</p>
{% endblock %}


{% block content_body %}
<form action="{% url 'tester:test_results' %}" method="{{ http_method }}" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}

</form>
{% endblock %}