{% extends "tester/base.html" %}
{% load bootstrap4 %}
{% load static %}


{% block content_header %}
<h1>TICA - Job Status</h1>
{% endblock %}


{% block content_body %}

<p>{{message}}</p>
{% if form %}
<form action="{% url 'tester:test_results_encode' %}" method="{{ http_method }}" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
{% endif %}
</form>


{% endblock %}